<form class="example-form">
  <h1 mat-dialog-title>Download file</h1>
  <div mat-dialog-content>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>File name</mat-label>
            <input matInput [(ngModel)]="fileName" name="fileName">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>File extension</mat-label>
            <input matInput [(ngModel)]="fileExt" name="fileExt">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="saveFile()" cdkFocusInitial>Download file</button>
  </div>
</form>
