<h2 mat-dialog-title>Command search</h2>
<mat-dialog-content>
  <form class="command-form">
    <mat-form-field class="input-full-width">
      <mat-label for="command">Start typing...</mat-label>
      <input id="command" matInput type="text" autocomplete="off" [formControl]="searchInput" name="command"
             (ngModelChange)="filterCommands()">
    </mat-form-field>
  </form>
  <mat-nav-list>
    <mat-list-item *ngFor="let script of filteredScript" (click)="commandSelected(script)">
      <mat-icon mat-list-icon>{{script.icon}}</mat-icon>
      <div mat-line>{{script.name}}</div>
      <div mat-line *ngIf="script.description">{{script.description}}</div>
    </mat-list-item>
  </mat-nav-list>
</mat-dialog-content>
