<app-header (toggleHistorySidebarEvent)="commandHistorySidebarToggle()"></app-header>

<mat-drawer-container>
  <mat-drawer-content>
    <mat-card>
      <button mat-button (click)="openCommandDialog()">Open dialog</button>
      <mat-card-header>
        <mat-card-title>Editor</mat-card-title>
        <mat-card-subtitle>
          <ng-container [ngPlural]="characterCount">
            <ng-template ngPluralCase="=0">No character</ng-template>
            <ng-template ngPluralCase="=1">1 character</ng-template>
            <ng-template ngPluralCase="other">{{characterCount}} characters</ng-template>
          </ng-container>
          -
          <ng-container [ngPlural]="linesNumber">
            <ng-template ngPluralCase="=0">No line</ng-template>
            <ng-template ngPluralCase="=1">1 line</ng-template>
            <ng-template ngPluralCase="other">{{linesNumber}} lines</ng-template>
          </ng-container>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <textarea [(ngModel)]="text" (ngModelChange)="onCodeChanged($event)" rows="30" cols="140"></textarea>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
  <mat-drawer mode="side" opened position="end" [opened]="commandsHistorySidebar">
    <app-history-sidebar></app-history-sidebar>
  </mat-drawer>
</mat-drawer-container>

<app-footer></app-footer>
