<app-header (toggleHistorySidebarEvent)="commandHistorySidebarToggler()"></app-header>

<mat-drawer-container>
  <mat-drawer-content>
    <mat-card>
      <mat-card-content>
        <form>
          <!--<mat-form-field>
            <input type="text" placeholder="Select a command" matInput [formControl]="commandSelected"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option" (onSelectionChange)="executeTransform($event)">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>-->
          <select [formControl]="commandSelected" (ngModelChange)="executeTransform()">
            <ng-container *ngFor="let script of scriptOptions">
              <option [value]="script">{{script}}</option>
            </ng-container>
          </select>
        </form>
        <br/>
        Selected: {{commandSelected.value}}
      </mat-card-content>
    </mat-card>
    <br/>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Editor</mat-card-title>
        <mat-card-subtitle>
          <ng-container [ngPlural]="characterCount">
            <ng-template ngPluralCase="=0">No character</ng-template>
            <ng-template ngPluralCase="=1">1 character</ng-template>
            <ng-template ngPluralCase="other">{{characterCount}} characters</ng-template>
          </ng-container>
          -
          <ng-container [ngPlural]="linesNumber">
            <ng-template ngPluralCase="=0">No line</ng-template>
            <ng-template ngPluralCase="=1">1 line</ng-template>
            <ng-template ngPluralCase="other">{{linesNumber}} lines</ng-template>
          </ng-container>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <textarea [(ngModel)]="text" (ngModelChange)="onCodeChanged($event)" rows="30" cols="140"></textarea>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
  <mat-drawer mode="side" opened position="end" [opened]="commandsHistorySidebar">
    <app-history-sidebar></app-history-sidebar>
  </mat-drawer>
</mat-drawer-container>


<app-footer></app-footer>
