<app-header (toggleHistorySidebarEvent)="sidebarToggle($event)"
            (executeCommandEvent)="executeTransform($event)"></app-header>

<mat-drawer-container>
  <mat-drawer-content>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{canvasName}}</mat-card-title>
        <mat-card-subtitle>
          <ng-container [ngPlural]="characterCount">
            <ng-template ngPluralCase="=0">No character</ng-template>
            <ng-template ngPluralCase="=1">1 character</ng-template>
            <ng-template ngPluralCase="other">{{characterCount}} characters</ng-template>
          </ng-container>
          -
          <ng-container [ngPlural]="linesNumber">
            <ng-template ngPluralCase="=0">No line</ng-template>
            <ng-template ngPluralCase="=1">1 line</ng-template>
            <ng-template ngPluralCase="other">{{linesNumber}} lines</ng-template>
          </ng-container>
        </mat-card-subtitle>
        <span class="spacer"></span>
        <button mat-icon-button color="warn" aria-label="Rename this canvas" matTooltip="Rename this canvas"
                (click)="openRenameCanvasDialog()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Copy content to clipboard"
                matTooltip="Copy content to clipboard" [cdkCopyToClipboard]="text">
          <mat-icon>content_copy</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Download this file" matTooltip="Download this file"
                (click)="openDownloadFileDialog()">
          <mat-icon>cloud_download</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <textarea [(ngModel)]="text" (ngModelChange)="onCodeChanged($event)" rows="30" cols="140"></textarea>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
  <mat-drawer mode="side" opened position="end" [opened]="sidebarOpen">
    <app-sidebar [sidebar]="sidebarSelected"></app-sidebar>
  </mat-drawer>
</mat-drawer-container>

<app-footer></app-footer>
