:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 320px;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
}

#card-editor {
  height: 100%;
}

#monacoEditor {
  height: 95%;
}

.mat-card-content textarea {
  width: 100%;
}
