@use '@angular/material' as mat;

html {
  color-scheme: light dark;

  @include mat.theme(
    (
      color: (
        primary: mat.$violet-palette,
        tertiary: mat.$cyan-palette,
      ),
      typography: (
        brand-family: 'Roboto Variable',
        plain-family: 'Roboto Variable',
        bold-weight: 700,
        medium-weight: 500,
        regular-weight: 400,
      ),
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}
